dl{
width:100%;
height:auto;
display:block;
overflow:hidden;
margin:0 auto;
font-size:10pt;
line-height:160%;}
dt,dt a{
	width:100%;
	height:auto;
	display:block;
	font-weight: bold;
	color:#FFF;
	font-size:20pt;
	cursor:pointer;
	padding: 2px;
	text-decoration: none;
}
dt a:hover{
	text-decoration: none;
	color: #FFF;
}
dd,p{
	text-indent: 2em;
}
