.logo_zhihu img{
	margin:10px auto;	
	border-radius:50%;
} 
.logo_zhihu a:hover {
	text-decoration: none; 
	filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;} 
}

/*
*以下icon定义
*/
#icon13lgw {
	background-image: url(../images/ico/13/lgw.png);
	background-repeat:no-repeat;
	/*margin-left:0.11em;padding: 0px 0px 0px 23px;*/
}

