* {
	box-sizing: border-box; }
	
body {
	background-color: #CCC;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71; }

a {
	color: #FFF;
	text-decoration: none; }
a:hover {
	/*text-decoration: underline; */
	text-decoration: none; }

.page-header {
	height: 200px;
	text-align: center;
	background-color: #1f1f1f;
}
.page-header  .block{
	height: 100%;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.main-content {
	height: 390px;
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: #ccc;
}
.main-content .block2{
	height: 100%;
	width: 900px;
	margin: auto;
	background-image:url("../images/webimgs/tree01.png");
	/*background: no-repeat url("../images/webimgs/tree01.png");*/
}
.main-content .block2:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.footer{
	height: 330px;
	width: 100%;
	text-align: center;
	background-color: #1f1f1f;
}
.footer .block3{
	height: 100%;
	width: 900px;
	margin: auto;
	background: no-repeat url("../images/webimgs/tree02.png");
}
.footer .block3:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.footerfixed{
	color: #ccc;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #1f1f1f;
}
.footerfixed .copyright {
	color: #ccc;
	padding: 0;
	margin: 0;
	text-decoration: none; 
}

.copyright a {
	color: #0cf;
	text-decoration: none; 
}
.copyright a:hover {
	text-decoration: underline; }

.mytitle {
	text-align: right;
	color: #fff;
	width: 700px;
	height: 100%;
	float:right;}
	
.mytitle  h1{
	text-shadow:0px 3px 2px #fff;
	font-size: 40px;
	padding-top: 30px;
	line-height: 0;}
	
.authorblok {
	width: 200px;
	height: 100%;
	padding-top: 30px;
	float:left;}

.author {
    top: 5em;
    left: 15em;
    width: 6.875em;
    height: 6.875em;
    margin: 0 auto;
	/*box-shadow: 0px 0px 20px #fff;*/
    background: no-repeat url("../images/webimgs/lf.jpeg") right top;
    -webkit-background-size: 6.875em 6.875em;
    -moz-background-size: 6.875em 6.875em;
    background-size: 6.875em 6.875em;
    -webkit-border-radius: 3.4375em;
    border-radius: 3.4375em;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    transition: transform 2s ease-out;
}

.author:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg)
}

