* {
	box-sizing: border-box; }

body {
	background-color: #CCC;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71; }

a {
	color: #FFF;
	text-decoration: none; }
a:hover {
	/*text-decoration: underline; */
	text-decoration: none; }

.page-header {
	height: 200px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #1f1f1f;
}
.page-header  .block{
	height: 100%;
	width: 900px;
	text-align: center;
}
.main-content {
	height: 390px;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #ccc;
}
.footer{
	height: 320px;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #1f1f1f;
}
.footerfixed{
	color: #ccc;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #1f1f1f;
}
.footerfixed .copyright {
	color: #0cf;
	padding: 0;
	margin: 0;
	text-decoration: none; 
}

.copyright a {
	color: #0cf;
	text-decoration: none; 
}
.copyright a:hover {
	text-decoration: underline; }

.mytitle {
	color: #fff;
	margin-top: 30px;
	margin-right: 50px;}

.authorblok {
  width: 10em;
  top: 10em;
  left: 6em;
  margin-left: 2em;
  text-align: left;}

.author {
    /*position: absolute;*/
    top: 5em;
    left: 15em;
    width: 6.875em;
    height: 6.875em;
    margin: 0 auto;
    background: no-repeat url("../images/webimgs/lf.jpeg") right top;
    -webkit-background-size: 6.875em 6.875em;
    -moz-background-size: 6.875em 6.875em;
    background-size: 6.875em 6.875em;
    -webkit-border-radius: 3.4375em;
    border-radius: 3.4375em;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    transition: transform 2s ease-out;
}

.author:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg)
}
/***********************************************/

